.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 2rem;
}

.username {
    margin-left: auto;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 2rem;
}